.ant-tabs-ink-bar {
  height: 5px;
  background: #fb923c !important;
}

.ant-tabs .ant-tabs-tab.ant-tabs-tab-active .ant-tabs-tab-btn {
  color: #fb923c !important;
}

.ant-tabs .ant-tabs-tab:hover .ant-tabs-tab-btn {
  color: #fb923c !important;
}
