#user__event--sponsor {
  .sponsor__creators {
    &::before {
      content: "";
      display: block;
      width: 100%;
      height: 100%;
      position: absolute;
      top: 0;
      left: 0;
      background-color: white;
      opacity: 0.2;
    }
  }
}
