.eventSlide {
  margin-top: 20px;
  padding: 200px 50px;
  position: relative;
  color: White;
  z-index: 20;
  background: url("../../../assets/img/backroundTech.a989a5f8.jpg");
  background-position: 0;
  background-size: cover;
  background-repeat: no-repeat;

  &::after {
    content: "";
    background: url("../../../assets/img/high-techbrain.2f38d2ab.png");
    position: absolute;
    z-index: -1;
    top: 0;
    bottom: 0;
    width: 95%;
    background-repeat: no-repeat;
    background-position: 100%;
    background-size: contain;
    transform-origin: center;
    animation: slightRotate 5s linear infinite;
  }

  @media screen and (max-width: 820.98px) {
    padding: 100px 20px;
    &::after {
      width: 95%;
    }
  }
  @media screen and (max-width: 414.98px) {
    padding: 90px 20px;
    &::after {
      display: none;
    }
  }
}

@keyframes slightRotate {
  0% {
    transform: rotate(0);
  }
  25% {
    transform: rotate(1deg);
  }
  50% {
    transform: rotate(0);
  }
  75% {
    transform: rotate(-1deg);
  }
  100% {
    transform: rotate(0);
  }
}
