#search {
  padding: 5px 10px;
  font-size: 15px;
  transition: all 0.5s;
  outline: none;
}

#search::placeholder {
  font-style: italic;
  color: #dfe4ea;
}

input:-webkit-autofill {
  -webkit-box-shadow: 0 0 0px 1000px white inset;
}
