.form {
  .form_background {
  }
  form {
    height: 70vh;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;

    .form_container {
      width: 100%;

      @media screen and (max-width: 768px) {
        width: 100%;
      }
      .form_input {
        input {
          background: #eee;
          border: none;
          padding: 10px 15px;
          margin: 20px 0;
          width: 100%;
        }

        p {
          margin-top: 2px;
          margin-bottom: 0;
        }
      }
    }
  }
}
